.app {
    background-color: #1A1A1A;
}

:root {
    --text-color: #CAFF33;
    --bg-color: #CAFF33;
}

@font-face {
    font-family: "LexendRegular";
    src:local("Lexend-Regular"),
    url('./assets/fonts/lexend/Lexend-Regular.ttf')
  }